@model IEnumerable<MusicApp.Models.tb_Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_album)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año_Album)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_Artista.Nombre_Artista)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_album)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año_Album)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_Artista.Nombre_Artista)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ALBUM }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ALBUM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ALBUM })
        </td>
    </tr>
}

</table>
