
@{
    ViewBag.Title = "Loss Sounds";
    string saludo;
    var hora = DateTime.Now.Hour;
}
@if (hora < 12 && hora > 6)
{
    saludo = "Buenos días";
}
else if (hora > 12 && hora < 20)
{
    saludo = "Buenas tardes";
}
else
{
    saludo = "Buenas noches";
}

<div>
    <h2>@saludo @Session["Name"] @Session["IdUser"]</h2>
    <h2>@DateTime.Now.Hour:@DateTime.Now.Minute</h2>
</div>
<section>
    <h2>Buscar</h2>
    <input type="text" id="text-buscar"/>
    <select id="opciones-cancion">
    </select>
</section>

<div>
    <h2>Novedades</h2>
    <div id="contNovedades">
           

        </div>
    @*@foreach (var cancion in ViewBag.Novedades)
        {
            <div class="cancion-div">
                <h2>@cancion.primeros50Canciones.NombreCancion</h2>
                <p>Artista: @cancion.NombreArtista</p>
                <p>Álbum: @cancion.NombreAlbum</p>
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(cancion.Caratula)" alt="Carátula" />
            </div>
        }*@


</div>
<script>
    $(document).ready(function () {
           $.ajax({
                url: '@Url.Action("GetNovedades", "Home")', // Reemplaza con la URL correcta
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                // "data" contendrá los datos en formato JSON
                console.log(data);
                    AddNovedades(data);
           },
                error: function () {
                // Manejar errores si es necesario
                }
           });
        Buscador();
    });

    function AddNovedades(data) {
        let TemplateIn = "<div id='contCanciones' >";
        let TemplateFin = "</div>";
        let TextIn = "<p>";
        let TextFin = "</p>";
        var Img = "datos_base64_de_la_imagen"; // Reemplaza esto con tus datos.
        // Obtén el elemento en el que deseas insertar el HTML.
        var contenedor = document.getElementById("contNovedades");


        data.forEach(function (item, i) {
               var template =  TemplateIn + TextIn + item.NombreCancion + TextFin + TextIn + item.NombreArtista
                + TextIn + item.NombreAlbum + TextFin + "<img id='caratula"+i+"' width='100' height='130' alt='Caratula'/>" + TemplateFin;

            contenedor.innerHTML += template;
            let idCarat = "caratula" + i;
            //ConvertByteToImg(idCarat, item.Caratula);

            var imagen = document.getElementById(idCarat);
            console.log(item.Caratula);
            // Convierte el array de bytes a una cadena
            var binaryString = String.fromCharCode.apply(null,item.Caratula);

            // Convierte la cadena binaria a base64
            var base64String = btoa(binaryString);
            //imagen.src = "/Home/GetImagen?dataImg=" + item.Caratula;
            imagen.src = "data:image/png;base64," + base64String;


        });
    }
    function Buscador() {

        // Capturar el campo de entrada
    var $searchInput = $('#text-buscar');
    // Obtener el elemento select
    var $select = $('#opciones-cancion');

    // Evento para detectar cambios en el campo de entrada
    $searchInput.on('input', function () {
        var query = $(this).val(); // Obtener el valor ingresado por el usuario
        // Obtener datos desde el controlador y cargarlos en el select
        $.ajax({
            url: '@Url.Action("GetCancionList", "Home")',
            type: 'GET',
            dataType: 'json',
            data: {
                txt: query  // Pasar el valor ingresado por el usuario como parámetro
            },
            success: function (data) {
                // Limpiar opciones existentes
                $select.empty();

                // Agregar las nuevas opciones desde los datos recibidos
                $.each(data, function (index, item) {
                    $select.append($('<option>', {
                        value: item.Value,
                        text: item.Text
                    }));
                });
            },
            error: function (error) {
                console.error('Error al obtener datos desde el servidor:', error);
            }
        });

        });
    }


</script>

